.boton{
    background: #F40A0A;
    width: 322px;
    height: 58px;
    flex-shrink: 0;
    margin: 20px;
}
.menu{
    background-color: #2AFC07;
    display: flex;
}
.contenedorimgtexto{
    display: flex;
}
.contenedortexto{
    display: block;
}
