p{
    color: brown;
    font-size: large;
}
li{
    background-color: yellow;

}
#encabezadoprincipal{
    color: blueviolet;
    font-size: xx-large;

}
#encabezadosecundario{
    color: rgb(19, 100, 58);
    font-size: x-large;
}
.parrafos{
    background-color: aqua;
    margin: 200px;
    border: solid 2px;
    padding: 100px;


}
.colorparrafo{
    color: rgb(56,13,59);
    font-size: larger;
}
.foto{
    border: solid 2px;
    border-radius: 30px;
    padding: 20px;
    background-color: yellow;
}
.contenedorparrafos{
    display: flex;
    background-color:blueviolet;
}
.boton{
    background: #D9D9D9;
    width: 322px;
    height: 58px;
    flex-shrink: 0;
    margin: 20px;
}
.menu{
    background-color: #806EF0;
    display: flex;
}
.contenedorimgtexto{
    display: flex;
}
.contenedortexto{
    display: block;
}
